body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color:lightgrey;
  }

  h1{
      font-size: 70px;
      margin: 0px;
      padding-top: 10px;
      color: grey;
  }

  h2{
    font-size: 40px;
    margin: 0px;
    padding-top: 10px;
    width: 100%;
    height: 50px;
    background-color: white;
    
}

  h3{
      font-size:25px;
      font-weight: 400;
      padding-left: 30px;
      margin: 0px;
      padding-top: 20px;
      color: grey
  }

  h4{
    font-size: 12px;
    color: black;
  }

  h5{
    font-size: 12px;
    color: black;
    position: absolute;
    top: 68px;
  }

  .search2{
    font-size: 18px;
    color: black;
    top: 82px;
    left: 1084px;
    position:absolute;
    z-index: 2;
    background-color: white;
    height: 25px;
   
  }
  .search{
    width: 350px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 730px;
}
  


.authorbox{
      padding-left: 10px;
      margin-left: 0px;
      padding-top: 10px;
      width: 200px;
      height: 350px;
      overflow: scroll;
      
  }

  p{
    padding:0px;
    margin: 20px;
    z-index: 2;
  }

  .shelf{
      width: 740px;
      height:600px;
      position: absolute;
    left: 400px;
    top: 152px;
     z-index: 1;
     padding-bottom: 20px; 
     opacity: 90%; 
  }

  .book{
    /* width: 740px;
    height: 600px; */
    position: absolute;
    left: 6px;
    top: -20px;
    z-index: 1;
    padding-bottom: 20px;
} 

.previewtext{
  background-color: white;
  width: 180px;
  height: 100px;
  top: -110px;
  position: absolute;
  z-index: 2;
  border-radius: 10%;
  opacity:0;
  padding:7px;
}

.fault:hover .previewtext {
 opacity:100;
}

  .fault{
    height: 250px;
    position: absolute;
    top: 239px;
    left: 445px;
    z-index: 2;
  }

  .fault:hover
  {
    top: 210px;
  }

  .fault:hover .previewtext {
    opacity:100;
   }


  .paper{
    height: 250px;
    position: absolute;
    top: 239px;
    left: 485px;
    z-index: 2;
  }
  .paper:hover{
    top: 210px;
  }
  .paper:hover .previewtext {
    opacity:100;
   }


  .maya{
    height: 250px;
    position: absolute;
    top: 239px;
    left: 525px;
    z-index: 2;
  }
  .maya:hover{
    top: 210px;
  }
  .maya:hover .previewtext {
    opacity:100;
   }


  .gun{
    height: 210px;
    position: absolute;
    top: 279px;
    left: 565px;
    z-index: 2;
  }
  .gun:hover{
    top: 210px;
  }
  .gun:hover .previewtext {
    opacity:100;
   }


  .cat{
    height: 250px;
    position: absolute;
    top: 239px;
    left: 608px;
    z-index: 2;
  }
  .cat:hover{
    top: 210px;
  }
  .cat:hover .previewtext {
    opacity:100;
   }


  .mystery{
    height: 215px;
    position: absolute;
    top: 274px;
    left: 635px;
    z-index: 2;
  }
  .mystery:hover{
    top: 210px;
  }
.mystery:hover .previewtext {
    opacity:100;
   }


  .paulo{
    height: 260px;
    position: absolute;
    top: 229px;
    left: 670px;
    z-index: 2;
  }
  .paulo:hover{
    top: 210px;
  }
  .paulo:hover .previewtext {
    opacity:100;
   }


  .expectations{
    height: 205px;
    position: absolute;
    top: 283px;
    left: 698px;
    z-index: 2;
  }
  .expectations:hover{
    top: 210px;
  }
  .expectations:hover .previewtext {
    opacity:100;
   }


  .jungle{
    height: 205px;
    position: absolute;
    top: 283px;
    left: 730px;
    z-index: 2;
  }
  .jungle:hover{
    top: 210px;
  }
  .jungle:hover .previewtext {
    opacity:100;
   }



  .robin{
    height: 205px;
    position: absolute;
    top: 283px;
    left: 758px;
    z-index: 2;
  }
  .robin:hover{
    top: 210px;
  }
  .robin:hover .previewtext {
    opacity:100;
   }



  .playing{
    height: 205px;
    position: absolute;
    top: 283px;
    left: 785px;
    z-index: 2;
  }
  .playing:hover{
    top: 210px;
  }
  .playing:hover .previewtext {
    opacity:100;
   }



  .warhol{
    height: 218px;
    position: absolute;
    top: 271px;
    left: 821px;
    z-index: 2;
}
.warhol:hover{
  top: 210px;
}
.warhol:hover .previewtext {
    opacity:100;
   }


.harry{
    height: 218px;
    position: absolute;
    top: 271px;
    left: 846px;
    z-index: 2;
}
.harry:hover{
  top: 210px;
}
.harry:hover .previewtext {
  opacity:100;
 }


.holes{
    height: 230px;
    position: absolute;
    top: 259px;
    left: 875px;
    z-index: 2;
}
.holes:hover{
  top: 210px;
}
.holes:hover .previewtext {
  opacity:100;
 }



.david{
    height: 241px;
    position: absolute;
    top: 248px;
    left: 900px;
    z-index: 2;
}
.david:hover{
  top: 210px;
}
.david:hover .previewtext {
  opacity:100;
 }



.hoot{
    height: 231px;
    position: absolute;
    top: 258px;
    left: 934px;
    z-index: 2;
}
.hoot:hover{
  top: 210px;
}
.hoot:hover .previewtext {
  opacity:100;
 }


.record{
  height: 400px;
  position: absolute;
  top: 338px;
  left: 1000px;
  z-index: 2;
}
.record:hover{
  top: 300px;
}
.record:hover .previewtext {
  opacity:100;
 }


.ask{
  height: 400px;
  position: absolute;
  top: 338px;
  left: 1047px;
  z-index: 2;
}
.ask:hover{
  top: 300px;
}
.ask:hover .previewtext {
    opacity:100;
   }


.sketch{
  height: 231px;
  position: absolute;
  top: 507px;
  left: 447px;
  z-index: 2;
}
.sketch:hover{
  top: 490px;
}

.sketch1{
  height: 231px;
  position: absolute;
  top: 507px;
  left: 487px;
  z-index: 2;
}
.sketch1:hover{
  top: 490px;
}

.sketch2{
  height: 231px;
  position: absolute;
  top: 507px;
  left: 526px;
  z-index: 2;
}
.sketch2:hover{
  top: 490px;
}

.sketchG{
  height: 231px;
  position: absolute;
  top: 507px;
  left: 566px;
  z-index: 2;
}
.sketchG:hover{
  top: 490px;
}

.sketchG1{
  height: 231px;
  position: absolute;
  top: 507px;
  left: 610px;
  z-index: 2;
}
.sketchG1:hover{
  top: 490px;
}


.sketchG2{
  height: 231px;
  position: absolute;
  top: 507px;
  left: 657px;
  z-index: 2;
}
.sketchG2:hover{
  top: 490px;
}



.faultP{
  background-color: white;
  width: 180px;
  height: 100px;
  top: 80px;
  left: 369px;
  position: absolute;
  z-index: 2;
  border-radius: 10%;
  opacity:00%;
  opacity:0;
}

.paperP{
  background-color: white;
  width: 180px;
  height: 100px;
  top: 80px;
  left: 425px;
  position: absolute;
  z-index: 2;
  border-radius: 10%;
  opacity:0;
}

.mayaP{
  background-color: white;
  width: 180px;
  height: 100px;
  top: 80px;
  left: 452px;
  position: absolute;
  z-index: 2;
  border-radius: 10%;
  opacity:0;
}

.gunP{
  background-color: white;
  width: 180px;
  height: 100px;
  top: 80px;
  left: 473px;
  position: absolute;
  z-index: 2;
  border-radius: 10%;
  opacity:0;
}

.catP{
  background-color: white;
  width: 180px;
  height: 100px;
  top: 80px;
  left: 537px;
  position: absolute;
  z-index: 2;
  border-radius: 10%;
  opacity:0;
}

.mysteryP{
  background-color: white;
  width: 180px;
  height: 100px;
  top: 80px;
  left: 569px;
  position: absolute;
  z-index: 2;
  border-radius: 10%;
  opacity:0;
}
.pauloP{
  background-color: white;
  width: 180px;
  height: 100px;
  top: 80px;
  left: 586px;
  position: absolute;
  z-index: 2;
  border-radius: 10%;
  opacity:0;
}
.expectationsP{
  background-color: white;
  width: 180px;
  height: 100px;
  top: 80px;
  left: 626px;
  position: absolute;
  z-index: 2;
  border-radius: 10%;
  opacity:0;
}

.jungleP{
  background-color: white;
    width: 180px;
    height: 100px;
    top: 80px;
    left: 653px;
    position: absolute;
    z-index: 2;
    border-radius: 10%;
    opacity:0;
}


.robinP{
  background-color: white;
    width: 180px;
    height: 100px;
    top: 80px;
    left: 672px;
    position: absolute;
    z-index: 2;
    border-radius: 10%;
    opacity:0;
}


.playingP{
  background-color: white;
  width: 180px;
  height: 100px;
  top: 80px;
  left: 701px;
  position: absolute;
  z-index: 2;
  border-radius: 10%;
  opacity:0;
}


.warholP{
  background-color: white;
  width: 180px;
  height: 100px;
  top: 80px;
  left: 735px;
  position: absolute;
  z-index: 2;
  border-radius: 10%;
  opacity:0;
}


.harryP{
  background-color: white;
    width: 180px;
    height: 100px;
    top: 80px;
    left: 764px;
    position: absolute;
    z-index: 2;
    border-radius: 10%;
    opacity:0;
}

.holesP{
  background-color: white;
    width: 180px;
    height: 100px;
    top: 80px;
    left: 764px;
    position: absolute;
    z-index: 2;
    border-radius: 10%;
    opacity:0;
}

.davidP{
  background-color: white;
    width: 180px;
    height: 100px;
    top: 80px;
    left: 825px;
    position: absolute;
    z-index: 2;
    border-radius: 10%;
    opacity:0;
}

.hootP{
  background-color: white;
  width: 180px;
  height: 100px;
  top: 80px;
  left: 852px;
  position: absolute;
  z-index: 2;
  border-radius: 10%;
  opacity:0;
}

.recordP{
  background-color: white;
  width: 180px;
  height: 100px;
  top: 80px;
  left: 920px;
  position: absolute;
  z-index: 2;
  border-radius: 10%;
  opacity:0;
}

.askP{
  background-color: white;
    width: 180px;
    height: 100px;
    top: 80px;
    left: 980px;
    position: absolute;
    z-index: 2;
    border-radius: 10%;
    opacity:0;
}

.cart{
  width: 30px;
  height: 25px;
  top: 80px;
  left: 1350px;
  position: absolute;
  z-index: 2;
}

.cart:hover{
  height: 30px;
  width:35px;
}

.summary{
  font-size: 18px;
  padding: 20px;
  padding-right:550px;
  line-height: 160%;
  padding-top: 30px;

}

.faultfic{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}

.faultRo{
  width:80px;
  height:80px;
  position: absolute;
  top: 150px;
  left: 1300px;
}

.paperfic{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}

.papermys{
  width:80px;
  height:80px;
  position: absolute;
  top: 150px;
  left: 1300px;
}

.mayaBi{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}


.gunNon{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}

.catfic{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}

.mysterymys{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}

.paulofic{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}

.pauloro{
  width:80px;
  height:80px;
  position: absolute;
  top: 150px;
  left: 1300px;
}

.expectationsthrill{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}

.junglefic{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}

.robinfic{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}

.playingbi{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}

.warholbi{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}

.harryfic{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}

.harrymy{
  width:80px;
  height:80px;
  position: absolute;
  top: 150px;
  left: 1300px;
}

.harrythrill{
  width:80px;
  height:80px;
  position: absolute;
  top: 250px;
  left: 1300px;
}

.holesfic{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}

.davidNon{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}

.hootfic{
  width:80px;
  height:80px;
  position: absolute;
  top: 50px;
  left: 1300px;
}

.previewicon{
  background-color: white;
    width: 80px;
    height: 80px;
    top: 0px;
    position: absolute;
    border-radius: 50%;
    opacity:0;
    
}

.fiction{
  width:80px;
  height:80px;
  position: absolute;
  top: 160px;
  left: 1330px;
}

.fiction:hover .previewicon {
  opacity:100;
}


.nonfiction{
  width:80px;
  height:80px;
  position: absolute;
  top: 260px;
  left: 1330px;
}
.nonfiction:hover .previewicon {
  opacity:100;
}

.mysterypic{
  width:80px;
  height:80px;
  position: absolute;
  top: 360px;
  left: 1330px;
}
.mysterypic:hover .previewicon {
  opacity:100;
}

.romance{
  width:80px;
  height:80px;
  position: absolute;
  top: 460px;
  left: 1330px;
}
.romance:hover .previewicon {
  opacity:100;
}

.thriller{
  width:80px;
  height:80px;
  position: absolute;
  top: 560px;
  left: 1330px;
}
.thriller:hover .previewicon {
  opacity:100;
}

.biography{
  width:80px;
  height:80px;
  position: absolute;
  top: 660px;
  left: 1330px;
}
.biography:hover .previewicon {
  opacity:100;
}