body{
  background-color: beige;
}

#lyrics{
  font-size: 25px;
  margin: 100px;
  margin-top: 450px;
  font-family: Arial, Helvetica, sans-serif;
font-weight: lighter;
z-index:2;
}

#start{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: green;
  color: white;
  position: fixed;
  left: 20px;
  top:200px;
  font-family: Arial, Helvetica, sans-serif;
}

#pause{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  position: fixed;
  color: white;
  top: 290px;
  left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 70px;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
  color: beige;
  position: fixed;
  top: 10px;
}
h3{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 30px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
  color: beige;
  position: fixed;
  top: 55px;
  left: 800px;
}

.rectangle{
  width: 100%;
  height: 400px;
  background-color: black;
  z-index:-1;
 margin-top: 0px;
 top: 0px;
 position: fixed;
 left: 0px;
}

.video{
  width: 500px;
  height: 250px;
  margin: 0px;
  padding: 0;
  left: 950px;
  position: absolute;
}
.image{
  width: 500px;
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 900px;
}