p{
    color:white;
    font-size: 90%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index:-1;
    position: relative;
    top: 200px;
    z-index: 1;
      
}

body{
    background-color: lightsteelblue;

}

h1{
    color: white;
    Font-size: 60pt; 
    text-align: center; 
    font-family: 'Anton', sans-serif;
    top: 250px;
    position: relative;
     
}
h2{
    color: white;
    Font-size: 60pt; 
    text-align: left; 
    font-family: 'Anton', sans-serif;
    top: 250px;
    position: relative;
    padding-left: 30px;
     
}

.projects {
    text-decoration:none;
    color: white;
    Font-size: 30pt; 
    text-align: center;
    font-family: 'Anton', sans-serif;
    top: -10px;
    position: relative;
    display: block;
    padding-bottom: 50px;
 }

 .RECprojects {
    text-decoration:none;
    color: white;
    Font-size: 30pt; 
    text-align: center;
    font-family: 'Anton', sans-serif;
    top: -150px;
    position: relative;
    display: block;
    padding-bottom: 50px;
 }

 #projects {
    text-decoration:none;
    color: white;
    Font-size: 30pt; 
    text-align: center;
    font-family: 'Anton', sans-serif;
    top: 250px;
    position: relative;
 }

 #studio {
    /* text-decoration:none; */
    color: white;
    Font-size: 30pt;
    text-align: center;
    font-family: 'Anton', sans-serif;
    top: 500px;
    position: absolute;
    width: 100%;
    /* left: 306px; */

 }

 #lab {
    /* text-decoration:none; */
    color: white;
    Font-size: 30pt;
    text-align: center;
    font-family: 'Anton', sans-serif;
    top: 580px;
    position: absolute;
    width: 100%;
 }

.about{
    color:black;
    left: calc(20% - 40px);
    position: absolute;
}

.button{
    background-color: yellow;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    position: absolute;
    align-items: left;
    animation: blinker 2s linear infinite;
    opacity: 100%;
    top: 20px;
    left: 20px;


}
/* @keyframes blinker {  
    50% { opacity: 0; }
    } */
.button:hover{
    background-color:rgb(0, 206, 0);
}

/* .circle{
    background-color: red;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     left: calc(50% - 20px);
     position: relative;
     align-items: center;
     animation: blinker 1s linear infinite;
     opacity: 100%;
     top: 200px;


}
@keyframes blinker {  
    50% { opacity: 0; }
    }
.circle:hover{
    background-color:rgb(0, 206, 0);
}

.circle1{
    background-color: black;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     top: 180px;
     left: calc(45% - 20px);
     position: absolute;
     animation: blinker 1.4s linear infinite;
     opacity: 50%;

}
@keyframes blinker {  
    50% { opacity: 0; }
    }
.circle1:hover{
    background-color:rgb(0, 206, 0);
}
.circle2{
    background-color: black;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     top: 180px;
     left: calc(55% - 20px);
     position: absolute;
     animation: blinker 1.8s linear infinite;
     opacity: 50%;


}
@keyframes blinker {  
    50% { opacity: 0; }
    }
.circle2:hover{
    background-color:rgb(0, 206, 0);
}
.circle3{
    background-color: black;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     left: calc(65% - 20px);
     top: 180px;
     position: absolute;
     animation: blinker 2.2s linear infinite;
     opacity: 50%;

}
@keyframes blinker {  
    50% { opacity: 0; }
    }
.circle3:hover{
    background-color:rgb(0, 206, 0);
}


.topnav {
    overflow: hidden;
    background-color: #ffe600be;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .episodes{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120%;
    margin: 0%;
    position: fixed;
    z-index: -1;
  } */